# 1. Even or Odd
Print 'Even' or 'Odd' based on whether the number is even or odd

In [4]:
num = int(input())

10

In [5]:
if num % 2 == 0:
    print('Even')
else:
    print('Odd')

Even

# 2. Beautiful Number
A number k is beautiful if it is of the form 3n+1, is pretty if it is of the form 3n+2 and is sexy if it is of form 3n.
Given a number k, print if it is beautiful, pretty or sexy.

In [7]:
def beauti_number(l):
    if l%3 == 0:
        print('Sexy')
    elif l%3 == 1:
        print('Beautiful')
    else:
        print('Pretty')

In [10]:
k = int(input())
beauti_number(k)

38
Pretty

# 3. Alarm clock Problem

You're trying to automate your alarm clock by writing a function for it. You're given a day of the week encoded as 1=Mon, 2=Tue, ... 6=Sat, 7=Sun, and whether you are on vacation as a boolean value (a boolean object is either True or False. Google "booleans python" to get a better understanding). Based on the day and whether you're on vacation, write a function that returns a time in form of a string indicating when the alarm clock should ring. 

When not on a vacation, on weekdays, the alarm should ring at "7:00" and on the weekends (Saturday and Sunday) it should ring at "10:00". 

While on a vacation, it should ring at "10:00" on weekdays. On vacation, it should not ring on weekends, that is, it should return "off".

In [15]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [70]:
def alarm_time(day, vacation):
    week_days = [1,2,3,4,5]
    print(bool(vacation))
    if (day in week_days) and vacation :
        print('here 1')
        return "10:00"
    elif (day in week_days) and not vacation :
        return "7:00"
    elif day in [6,7] and vacation:
        return "off"
    else :
        print('else')
        return "10:00"

In [76]:
import ast
input_str = input()
input_list = ast.literal_eval(input_str)
day_of_the_week = input_list[0] #first element is an integer denoting the day of the week
is_on_vacation = input_list[1]

alarm_time(day_of_the_week, is_on_vacation)

6, True
True

'off'

# 4. Factorial Problem
Factorial is a mathematical function denoted by '!'. It is defined as

n factorial = n!= 1*2*3...*(n-1)*n

In this question, you have to make a function that will take an integer as input, and return the factorial of that integer if that integer is greater than or equal to zero and return -1 if the number is less than zero or negative.

Note: the function doesn't return print the factorial but returns it.

In [84]:
def factorial(n):
    if n < 0:
        return -1   
    elif n > 0:
        return n * factorial(n-1)
    else:
        return 1

        
factorial(-9)

6

In [85]:
factorial(3)

6

In [86]:
factorial(0)

1

# 5. Reverse The Digits
Description -> You will be given a number. You have to reverse the digits of the number and print it.

In [109]:
n = 5009

In [110]:
r = 0
while n > 0 :
    r = r*10 + n%10
    n = n//10
print(r)

9005

# 6.How Many Chocolates?
This question is actually a puzzle that some of you must have solved as a kid. Let's say you have m Rupees and one chocolate costs rupees c. The shopkeeper will give you a bar of chocolate for free if you give him 3 wrappers. Can you determine how many chocolates can you get with the m Rupees you have?

In [115]:
total = 3
choc_price = 1
num_wrapper = 3

num_chocs = total // choc_price #7
final_chocs = num_chocs
while num_chocs >= num_wrapper: #7>3
    final_chocs += num_chocs // num_wrapper #7+2
    num_chocs = (num_chocs // num_wrapper) + (num_of_chocs % num_wrapper) #7%3
    
    
print(final_chocs)

4

# 7. Print The Pattern
## Description
Printing different patterns is a very good exercise to reinforce iteration through loops and strong logic building. Here you will be given a positive integer and you will generate pattern based on that integer.

----------------------------------------------------------------------
Input:
A positive integer n
1 <= n <=20

Output:
A pattern as described by the Sample input and outputs below.

----------------------------------------------------------------------
Sample input:
5

In [124]:
"""

Sample output:


    *
   *_*
  *_*_*
 *_*_*_*
*_*_*_*_*

"""

'\n\nSample output:\n\n\n    *\n   *_*\n  *_*_*\n *_*_*_*\n*_*_*_*_*\n\n'

In [147]:
num = 20
for i in range(1, num+1):
    for j in range(num-i):
        print(" ",end="")
    for k in range(i-1):
        print("*_",end="")
    print("*")
    
newnum = 2*num 
for i in range(num//2):
    for j in range(newnum//2):
        print(" ",end="")
    print('|',end="")
    for j in range(newnum//2):
        print(" ",end="")
    print()

                   *
                  *_*
                 *_*_*
                *_*_*_*
               *_*_*_*_*
              *_*_*_*_*_*
             *_*_*_*_*_*_*
            *_*_*_*_*_*_*_*
           *_*_*_*_*_*_*_*_*
          *_*_*_*_*_*_*_*_*_*
         *_*_*_*_*_*_*_*_*_*_*
        *_*_*_*_*_*_*_*_*_*_*_*
       *_*_*_*_*_*_*_*_*_*_*_*_*
      *_*_*_*_*_*_*_*_*_*_*_*_*_*
     *_*_*_*_*_*_*_*_*_*_*_*_*_*_*
    *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
   *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
 *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
                    |
                    |
                    |
                    |
                    |
                    |
                    |
                    |
                    |
                    |

# 8. Smallest Element
Description
You have to find and print the smallest element of the list given as input. 

----------------------------------------------------------------------
Input:
A non-empty list of integers.

Output:
The smallest integer of the input list.

----------------------------------------------------------------------
Sample input:
[2, -3, 0, 7, 21]

Sample output:
-3

In [1]:
list1 = [2, -3, 0, 7, 21]
print(min(list1))

-3

Finding maximum or minimum element was easy, can you try and think of finding the second maximum or 2nd minimum element from a given list of the integers?

In [2]:
list1 = list1.sort()

In [3]:
#Second minimum
print(list1[1])

0

In [5]:
#second Maximum

print(list1[-2])

7

# 9. Above Average
Description
Finding the average of the data and comparing it with other values is often encountered while analysing the data. Here you will do the same thing. The data will be provided to you in a list. You will also be given a number check.  You will return whether the number check is above average or no.

----------------------------------------------------------------------
Input:
A list with two elements:
The first element will be the list of data of integers and
The second element will be an integer check.

Output:
True if check is above average and False otherwise

----------------------------------------------------------------------
Sample input:
[ [2,4,6,8,10],  4]

Sample output:
False

----------------------------------------------------------------------
Sample input:
[ [2,4,6,8,-10],  4]

Sample output:
True

In [12]:
import ast
input_list = ast.literal_eval(input())

input_list

[[2,4,6,8,-10], 4]

[[2, 4, 6, 8, -10], 4]

In [13]:
list2 = input_list[0]

sum = 0
for i in list2:
    sum += i
avg = sum/len(list2)

if avg < input_list[1]:
    print(True)
else:
    print(False)

True

# 10. Recruit New Members
Description
Suppose you are a manager as a big firm and now are looking for new members for your team. You sent out an advertisement and have received a few applications. You have a habit of scoring people on a scale of 100. You have given scores to all the members of your team and the new applications. The process of selection is going to be very straightforward if the applicant improves the average of the team then you hire the applicant to join the team or else reject the application. Remember the order of processing applications is going to be important here.



You may see this as an extension of the previous problem, which it is. You may use the code written in the previous question as a function to improve the code quality.



----------------------------------------------------------------------

Input:

Two lists on two separate lines.

The first line will have the list of scores of current team members

The second line will have the list of scores of the applicants.



Output:

The list consisting of scores of the final team after hiring from the pool of applicants.



----------------------------------------------------------------------

Sample input:

[23,45,34,76]

[70,34,94]

Sample output:

[23, 45, 34, 76, 70, 94]


Explanation:

The first applicant has score 70, and the team average is 44.5 hence the applicant is hired making the team average 49.6

The second applicant has score 34, and the team average is 49.6 hence the applicant is rejected keeping the team average same 49.6

The third applicant has score 94, and the team average is 49.6 hence the applicant is hired making the team average 57



----------------------------------------------------------------------

Sample input:

[10,20,30,40,50]

[30,60,80,40]



Sample output:

[10, 20, 30, 40, 50, 60, 80]

In [18]:
def average(list2):
    sum = 0
    for i in list2:
        sum += i
    avg = sum/len(list2)
    return avg

In [20]:
import ast
input_list = ast.literal_eval(input())
print(input_list)


new_list = ast.literal_eval(input())
print(new_list)

[23,45,34,76]
[23, 45, 34, 76]
[70,34,94]
[70, 34, 94]

In [21]:
result_list = input_list
for i in new_list:
    if i > average(result_list):
        result_list.append(i)
print(result_list)

[23, 45, 34, 76, 70, 94]

# 11. Calendar
Description
You are planning to go to your friend's wedding and you have long events all month, lasting at least a few days. You have the start and end dates of events and your task is to find out events overlapping with the wedding date.

The code for taking input has already been written for you, please don't modify that, but do read and try to understand the way input has been taken. You will be asked to take input on your own for most of the problems here onwards. Taking data in a suitable format is an important skill for a Data Scientist.

----------------------------------------------------------------------
Input:
The input will contain a list of lists where each sub-list has only two elements representing the start and end date of an event, the start date will be less than or equal to the end date. The next line of input will have a wedding date. 

Output:
The output should have the number of events overlapping with the wedding date.

----------------------------------------------------------------------
Sample input:
[ [29,31], [23,26], [24,25] ]
24

Sample output:
2

Explanation:
There are three events in the month.
Event 1= from date 29 to 31
Event 2= from date 23 to 26
Event 3= from date 24 to 25
Wedding is on 24. This means it will clash with Event 3 and Event 2, that is two events. The output is therefore 2.

----------------------------------------------------------------------
Sample input:
[ [1, 4], [7, 10], [8, 8], [14, 23] ]
26

Sample output:
0