# 1. Even or Odd
Print 'Even' or 'Odd' based on whether the number is even or odd

In [4]:
num = int(input())

10

In [5]:
if num % 2 == 0:
    print('Even')
else:
    print('Odd')

Even

# 2. Beautiful Number
A number k is beautiful if it is of the form 3n+1, is pretty if it is of the form 3n+2 and is sexy if it is of form 3n.
Given a number k, print if it is beautiful, pretty or sexy.

In [7]:
def beauti_number(l):
    if l%3 == 0:
        print('Sexy')
    elif l%3 == 1:
        print('Beautiful')
    else:
        print('Pretty')

In [10]:
k = int(input())
beauti_number(k)

38
Pretty

# 3. Alarm clock Problem

You're trying to automate your alarm clock by writing a function for it. You're given a day of the week encoded as 1=Mon, 2=Tue, ... 6=Sat, 7=Sun, and whether you are on vacation as a boolean value (a boolean object is either True or False. Google "booleans python" to get a better understanding). Based on the day and whether you're on vacation, write a function that returns a time in form of a string indicating when the alarm clock should ring. 

When not on a vacation, on weekdays, the alarm should ring at "7:00" and on the weekends (Saturday and Sunday) it should ring at "10:00". 

While on a vacation, it should ring at "10:00" on weekdays. On vacation, it should not ring on weekends, that is, it should return "off".

In [15]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [70]:
def alarm_time(day, vacation):
    week_days = [1,2,3,4,5]
    print(bool(vacation))
    if (day in week_days) and vacation :
        print('here 1')
        return "10:00"
    elif (day in week_days) and not vacation :
        return "7:00"
    elif day in [6,7] and vacation:
        return "off"
    else :
        print('else')
        return "10:00"

In [76]:
import ast
input_str = input()
input_list = ast.literal_eval(input_str)
day_of_the_week = input_list[0] #first element is an integer denoting the day of the week
is_on_vacation = input_list[1]

alarm_time(day_of_the_week, is_on_vacation)

6, True
True

'off'

# 4. Factorial Problem
Factorial is a mathematical function denoted by '!'. It is defined as

n factorial = n!= 1*2*3...*(n-1)*n

In this question, you have to make a function that will take an integer as input, and return the factorial of that integer if that integer is greater than or equal to zero and return -1 if the number is less than zero or negative.

Note: the function doesn't return print the factorial but returns it.

In [84]:
def factorial(n):
    if n < 0:
        return -1   
    elif n > 0:
        return n * factorial(n-1)
    else:
        return 1

        
factorial(-9)

6

In [85]:
factorial(3)

6

In [86]:
factorial(0)

1

# 5. Reverse The Digits
Description -> You will be given a number. You have to reverse the digits of the number and print it.

In [109]:
n = 5009

In [110]:
r = 0
while n > 0 :
    r = r*10 + n%10
    n = n//10
print(r)

9005

# 6.How Many Chocolates?
This question is actually a puzzle that some of you must have solved as a kid. Let's say you have m Rupees and one chocolate costs rupees c. The shopkeeper will give you a bar of chocolate for free if you give him 3 wrappers. Can you determine how many chocolates can you get with the m Rupees you have?

In [115]:
total = 3
choc_price = 1
num_wrapper = 3

num_chocs = total // choc_price #7
final_chocs = num_chocs
while num_chocs >= num_wrapper: #7>3
    final_chocs += num_chocs // num_wrapper #7+2
    num_chocs = (num_chocs // num_wrapper) + (num_of_chocs % num_wrapper) #7%3
    
    
print(final_chocs)

4

# 7. Print The Pattern
## Description
Printing different patterns is a very good exercise to reinforce iteration through loops and strong logic building. Here you will be given a positive integer and you will generate pattern based on that integer.

----------------------------------------------------------------------
Input:
A positive integer n
1 <= n <=20

Output:
A pattern as described by the Sample input and outputs below.

----------------------------------------------------------------------
Sample input:
5

In [124]:
"""

Sample output:


    *
   *_*
  *_*_*
 *_*_*_*
*_*_*_*_*

"""

'\n\nSample output:\n\n\n    *\n   *_*\n  *_*_*\n *_*_*_*\n*_*_*_*_*\n\n'

In [147]:
num = 20
for i in range(1, num+1):
    for j in range(num-i):
        print(" ",end="")
    for k in range(i-1):
        print("*_",end="")
    print("*")
    
newnum = 2*num 
for i in range(num//2):
    for j in range(newnum//2):
        print(" ",end="")
    print('|',end="")
    for j in range(newnum//2):
        print(" ",end="")
    print()

                   *
                  *_*
                 *_*_*
                *_*_*_*
               *_*_*_*_*
              *_*_*_*_*_*
             *_*_*_*_*_*_*
            *_*_*_*_*_*_*_*
           *_*_*_*_*_*_*_*_*
          *_*_*_*_*_*_*_*_*_*
         *_*_*_*_*_*_*_*_*_*_*
        *_*_*_*_*_*_*_*_*_*_*_*
       *_*_*_*_*_*_*_*_*_*_*_*_*
      *_*_*_*_*_*_*_*_*_*_*_*_*_*
     *_*_*_*_*_*_*_*_*_*_*_*_*_*_*
    *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
   *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
  *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
 *_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*_*
                    |
                    |
                    |
                    |
                    |
                    |
                    |
                    |
                    |
                    |

# 8. Smallest Element
Description
You have to find and print the smallest element of the list given as input. 

----------------------------------------------------------------------
Input:
A non-empty list of integers.

Output:
The smallest integer of the input list.

----------------------------------------------------------------------
Sample input:
[2, -3, 0, 7, 21]

Sample output:
-3

In [1]:
list1 = [2, -3, 0, 7, 21]
print(min(list1))

-3

Finding maximum or minimum element was easy, can you try and think of finding the second maximum or 2nd minimum element from a given list of the integers?

In [2]:
list1 = list1.sort()

In [3]:
#Second minimum
print(list1[1])

0

In [5]:
#second Maximum

print(list1[-2])

7

# 9. Above Average
Description
Finding the average of the data and comparing it with other values is often encountered while analysing the data. Here you will do the same thing. The data will be provided to you in a list. You will also be given a number check.  You will return whether the number check is above average or no.

----------------------------------------------------------------------
Input:
A list with two elements:
The first element will be the list of data of integers and
The second element will be an integer check.

Output:
True if check is above average and False otherwise

----------------------------------------------------------------------
Sample input:
[ [2,4,6,8,10],  4]

Sample output:
False

----------------------------------------------------------------------
Sample input:
[ [2,4,6,8,-10],  4]

Sample output:
True

In [12]:
import ast
input_list = ast.literal_eval(input())

input_list

[[2,4,6,8,-10], 4]

[[2, 4, 6, 8, -10], 4]

In [13]:
list2 = input_list[0]

sum = 0
for i in list2:
    sum += i
avg = sum/len(list2)

if avg < input_list[1]:
    print(True)
else:
    print(False)

True

# 10. Recruit New Members
Description
Suppose you are a manager as a big firm and now are looking for new members for your team. You sent out an advertisement and have received a few applications. You have a habit of scoring people on a scale of 100. You have given scores to all the members of your team and the new applications. The process of selection is going to be very straightforward if the applicant improves the average of the team then you hire the applicant to join the team or else reject the application. Remember the order of processing applications is going to be important here.



You may see this as an extension of the previous problem, which it is. You may use the code written in the previous question as a function to improve the code quality.



----------------------------------------------------------------------

Input:

Two lists on two separate lines.

The first line will have the list of scores of current team members

The second line will have the list of scores of the applicants.



Output:

The list consisting of scores of the final team after hiring from the pool of applicants.



----------------------------------------------------------------------

Sample input:

[23,45,34,76]

[70,34,94]

Sample output:

[23, 45, 34, 76, 70, 94]


Explanation:

The first applicant has score 70, and the team average is 44.5 hence the applicant is hired making the team average 49.6

The second applicant has score 34, and the team average is 49.6 hence the applicant is rejected keeping the team average same 49.6

The third applicant has score 94, and the team average is 49.6 hence the applicant is hired making the team average 57



----------------------------------------------------------------------

Sample input:

[10,20,30,40,50]

[30,60,80,40]



Sample output:

[10, 20, 30, 40, 50, 60, 80]

In [18]:
def average(list2):
    sum = 0
    for i in list2:
        sum += i
    avg = sum/len(list2)
    return avg

In [20]:
import ast
input_list = ast.literal_eval(input())
print(input_list)


new_list = ast.literal_eval(input())
print(new_list)

[23,45,34,76]
[23, 45, 34, 76]
[70,34,94]
[70, 34, 94]

In [21]:
result_list = input_list
for i in new_list:
    if i > average(result_list):
        result_list.append(i)
print(result_list)

[23, 45, 34, 76, 70, 94]

# 11. Calendar
Description
You are planning to go to your friend's wedding and you have long events all month, lasting at least a few days. You have the start and end dates of events and your task is to find out events overlapping with the wedding date.

The code for taking input has already been written for you, please don't modify that, but do read and try to understand the way input has been taken. You will be asked to take input on your own for most of the problems here onwards. Taking data in a suitable format is an important skill for a Data Scientist.

----------------------------------------------------------------------
Input:
The input will contain a list of lists where each sub-list has only two elements representing the start and end date of an event, the start date will be less than or equal to the end date. The next line of input will have a wedding date. 

Output:
The output should have the number of events overlapping with the wedding date.

----------------------------------------------------------------------
Sample input:
[ [29,31], [23,26], [24,25] ]
24

Sample output:
2

Explanation:
There are three events in the month.
Event 1= from date 29 to 31
Event 2= from date 23 to 26
Event 3= from date 24 to 25
Wedding is on 24. This means it will clash with Event 3 and Event 2, that is two events. The output is therefore 2.

----------------------------------------------------------------------
Sample input:
[ [1, 4], [7, 10], [8, 8], [14, 23] ]
26

Sample output:
0

In [46]:
#taking input
import ast
input_str1 = input()
input_list1 = ast.literal_eval(input_str1)
events = input_list1

wedding = int(input())
counter = 0
for i in events:
    if i[0] <= wedding <= i[1]:
        counter += 1
        
print(counter)

[ [29,31], [23,26], [24,25] ]
24
2

# 12. String Problem
Description
In a certain encrypted message which has information about the location(area, city), the characters are jumbled such that first character of the first word is followed by the first character of the second word, then it is followed by second character of the first word and so on



In other words, let’s say the location is bandra,mumbai



The encrypted message says ‘bmaunmdbraai’.



Sample Input:

`bmaunmdbraai`



Sample Output:

`bandra,mumbai`



Let’s say the size or length of the two words wouldn’t match then the smaller word is appended with # and then encrypted in the above format.

In [3]:
input1 = "bmaunmdbraai"

first_string = input1[0::2]

second_string = input1[1::2]

decrypted_string = first_string.strip('#')+','+second_string.strip('#')
decrypted_string

'bandra,mumbai'

# 13. List_remove_append
Description
Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.



Sample Input:

['SAS', 'R', 'PYTHON', 'SPSS']



Sample Output:

['SAS', 'R', 'PYTHON', 'SPARK']

In [5]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
index1 = input_list.index('SPSS')
input_list[index1] = 'SPARK'
input_list

['SAS', 'R', 'PYTHON', 'SPARK']

# 14. List to String
Description
Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:
Pythons syntax is easy to learn & Pythons syntax is very clear

Note that there is a space on both sides of '&' (as usual in English sentences).

In [6]:
list1 = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] 
output = ' & '.join(list1)

In [7]:
output

'Pythons syntax is easy to learn & Pythons syntax is very clear'

# 15. String Split
Description <br>
Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.



A sample output of the input 'Kumar_Ravi_003' is:

Ravi
Kumar
003
 

Note that you need to print in the order first name, last name and customer code.

In [12]:
input_str = 'Kumar_Ravi_003'
list1 = input_str.split('_')
print(list1[1], list1[0], list1[2])

Ravi Kumar 003

# 16. Tuple
Description
Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969). Since tuples are immutable, one way to do this is to convert the tuple to a list, add the element, and convert it back to a tuple.



Sample Input:

('Monty Python', 'British', 1969)



Sample Output:

﻿('Monty Python', 'British', 1969, 'Python')

In [13]:
input_tuple = ('Monty Python', 'British', 1969)
output_list = list(input_list)
output_list.append('Python')
output_tuple = tuple(output_list)
output_tuple

('SAS', 'R', 'PYTHON', 'SPARK', 'Python')

# 17. Sets Practice
Description
Let’s say you have two lists A and B. Identify the elements which are common in the two lists A and B and return them in a sorted manner. For example 



Sample Input :

A = [5, 1, 3, 4, 4, 5, 6, 7]

B = [3, 3, 5, 5, 1 ,7 ,2]



Sample Output:

[1,3,5,7]



If you observe the sample output here you can see that 

Though value 5 is repeated twice in both lists, in the final output it is present only once.
The values are returned in a sorted manner with values increasing.

In [17]:
A = [5, 1, 3, 4, 4, 5, 6, 7]

B = [3, 3, 5, 5, 1 ,7 ,2]

set_A = set(A)
set_B = set(B)

output = sorted(list(set_A.intersection(set_B)))
output

[1, 3, 5, 7]

# 18. Dictionary Coding
Description <br>
Write code to fetch the profession of the employee with Employee id - 104 from an employee input given in the form of a dictionary where key represent employ id and values represent the name, age, and profession (in the same order).



Sample input:

Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}



Sample output:

'Product Lead'

In [20]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}

Employee_data[104][2]

'Product Lead'

# 19.Dict_Error
Description <br>
From a Dictionary input_dict={'Name': 'Monty', 'Profession': 'Singer' }, get the value of a key ‘Label’ which is not a part of the dictionary, in such a way that Python doesn't hit an error. If the key does not exist in the dictionary, Python should return 'NA'.



Sample Input:

{'Name': 'Monty', 'Profession': 'Singer' }



Sample Output:

NA

In [25]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }
if (input_dict.get('Label') == None):
    print('NA')

NA

# 20.List of Values in a Dictionary.
Description
Create a SORTED list of all values from the dictionary input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}



Sample Input:

{'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}



Sample Output:

﻿['Amazon', 'Apple', 'RJIO', 'Twitter']

In [26]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}
values = input_dict.values()
sorted(values)

['Amazon', 'Apple', 'RJIO', 'Twitter']

# 21. If-Else
Description
Write a code to check if the string in input_str starts with a vowel or not. Print capital YES or NO.



For example, if input_str = 'analytics' then, your output should print 'YES'.



Sample Input:

alpha



Sample Output:

YES

In [4]:
string = input()

if string[0] in 'aeiou':
    print('YES')
else:
    print('NO')

beta
NO

# 22.List Comprehension
Description
You are given an integer 'n' as the input. Create a list comprehension containing the squares of the integers from 1 till n^2 (including 1 and n), and print the list. 







For example, if the input is 4, the output should be a list as follows:

[1, 4, 9, 16]




The input integer 'n' is stored in the variable 'n'.

In [6]:
in1 = int(input())
list1 = [i*i for i in range(1, in1+1)]
list1

4

[1, 4, 9, 16]

# 23. List Comprehensions
Description
Extract the words that start with a vowel from a list input_list=[wood, old, apple, big, item, euphoria] using list comprehensions.



Sample Input:

['wood','old','apple','big','item','euphoria']



Sample Output:

﻿['old', 'apple', 'item', 'euphoria']

In [16]:
from functools import reduce

list0 = ['wood','old','apple','big','item','euphoria']


list1 = [word for word in list0 if word[0] in ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']]
list1

['old', 'apple', 'item', 'euphoria']

# 24. Dictionary Comprehension
Following is the code to create a dictionary where the keys are multiples of 3 among the first 100 natural numbers and each value is the cube of the key.

> input_list = list(range(1,100)) <br>
> output_dict = {} <br>

> for val in input_list: <br>
>    if val % 3 == 0:<br>
>        output_dict[val] = val**3 <br>

Now, what would be corresponding dictionary comprehension for the code involved in dictionary creation?

In [18]:
output_dict = {val : val**3 for val in list(range(1,100)) if val%3 == 0}

In [19]:
output_dict

{3: 27,
 6: 216,
 9: 729,
 12: 1728,
 15: 3375,
 18: 5832,
 21: 9261,
 24: 13824,
 27: 19683,
 30: 27000,
 33: 35937,
 36: 46656,
 39: 59319,
 42: 74088,
 45: 91125,
 48: 110592,
 51: 132651,
 54: 157464,
 57: 185193,
 60: 216000,
 63: 250047,
 66: 287496,
 69: 328509,
 72: 373248,
 75: 421875,
 78: 474552,
 81: 531441,
 84: 592704,
 87: 658503,
 90: 729000,
 93: 804357,
 96: 884736,
 99: 970299}

# 25. Function
Description
Create a function squared(), which takes x and y as arguments and returns the x**y value. For e.g., if x = 2 and y = 3 , then the output is 8.



Sample Input:

['6','7']



Sample Output:

﻿279936

In [20]:
def squared(x,y):
    return x**y

In [21]:
squared(6,7)

279936

# 26. Map Function
Description
Using the function Map, count the number of words that start with ‘S’ in input_list.



Sample Input:

['Santa Cruz','Santa fe','Mumbai','Delhi']



Sample Output:

2

In [26]:
list1 = ['Santa Cruz','Santa fe','Mumbai','Delhi']

sum(list(map(lambda x: x[0] == 'S', list1)))

2

# 27. Map Function
Description
Create a list ‘name’ consisting of the combination of the first name and the second name from list 1 and 2 respectively. 

For e.g. if the input list is:
[ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]

the output list should be the list:
['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [27]:
input_list =  [ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]
list(map(lambda x, y: x+' '+y, input_list[0], input_list[1]))

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

# 28. Filter Function
Description
Extract a list of numbers that are multiples of 5 from a list of integers named input_list.



Sample Input:

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]



Sample Output:

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]



Note: Use the filter() function.

In [29]:
list5 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

output = list(filter(lambda x: x%5 ==0, list5))
output

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

# 29. Filter Function
Description
You are given a list of strings such as input_list = ['hdjk', 'salsap', 'sherpa'].



Extract a list of names that start with an ‘s’ and end with a ‘p’ (both 's' and 'p' are lowercase) in input_list.



Sample Input:

['soap','sharp','shy','silent','ship','summer','sheep']



Sample Output:

['soap', 'sharp', 'ship', 'sheep']



Note: Use the filter() function.

In [31]:
input_list = ['soap','sharp','shy','silent','ship','summer','sheep']

output_list = list(filter(lambda x: (x[0] == 's' and x[-1] == 'p'), input_list))
output_list

['soap', 'sharp', 'ship', 'sheep']

# 30. Reduce Function
Description
Using the Reduce function, concatenate a list of words in input_list, and print the output as a string.

If input_list = ['I','Love','Python'], the output should be the string 'I Love Python'.



Sample Input:

['All','you','have','to','fear','is','fear','itself']



Sample Output:

﻿All you have to fear is fear itself

In [38]:
from functools import reduce
input_list = ['All','you','have','to','fear','is','fear','itself']
string = reduce(lambda x, y: (x+' '+y), input_list)

In [39]:
string

'All you have to fear is fear itself'

# 31. Reduce Function
Description
You are given a list of numbers such as input_list = [31, 63, 76, 89]. Find and print the largest number in input_list using the reduce() function.



Sample Input:

[65,76,87,23,12,90,99]



Sample Output:

﻿99

In [43]:
inp1 = [65,76,87,23,12,90,99, 7, 9, 1000]
str1 = reduce(lambda x, y: x if x>y else y, inp1)
str1

1000

# 32. Fenced Metrix
Description
You will be given two positive integers m and n. You have to make a list of lists (which can be visualised as a matrix) of size m*n, that is m sublists (rows), with each sublists having n integers (columns). The matrix should be such that it should have 1 on the border and 0 everywhere else. See sample input and output for more clarification.



----------------------------------------------------------------------

Input:

Two integers separated by a comma



Output:

A list of lists of size m*n printed like matrix as shown in the sample output.



----------------------------------------------------------------------

Sample input:

4,5



Sample output:

[1, 1, 1, 1, 1]
[1, 0, 0, 0, 1]
[1, 0, 0, 0, 1]
[1, 1, 1, 1, 1]

In [61]:
m = 4
n = 5

final = [0]*n
final = [list(final) for i in range(m)]
final

for i in range(m):
    for j in range(n):
        if i == 0 or j == 0 or i == m-1 or j == n-1:
            final[i][j] = 1
for item in final:
    print(item)

[1, 1, 1, 1, 1]
[1, 0, 0, 0, 1]
[1, 0, 0, 0, 1]
[1, 1, 1, 1, 1]

In [50]:
output

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

# 33. Palindrome String
Description
Write a program to check whether a string is a palindrome or not. Print 1 if the string is a palindrome and 0 otherwise.

Note: Please ensure that your program should not be case-sensitive. So, if the input is, say, “HAnnah”, then, its output should be 1.

----------------------------------------------------------------------
Input:
A string

Output:
1 if the string is a palindrome, 0 otherwise

In [68]:
string1 = input()

string1 = string1.lower()
if string1[-1::-1] == string1:
    print(1)
else:
    print(0)
#if string1[]

darling
0

# 34. Reverse Words
Description
You will be given a sentence in the form of a string. You have to reverse the order of the words in the sentence. Remember not to reverse the individual words, but the order of words. Check the sample input-output for further clarification.

----------------------------------------------------------------------
Input:
A string, which will consist of a few spaces.

Output:
The words in reverse order.

----------------------------------------------------------------------
Sample input:
I love coding in python

Sample output:
python in coding love I

In [73]:
inp1 = 'I love coding in python'

out = inp1.split(' ')
out2 = out[-1: :-1]
str1 = ' '.join(out2)

In [74]:
str1

'python in coding love I'